<ion-header>
	<ion-toolbar>
		 <ion-button slot="start" href=''>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title> Post Management </ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="post1">
      <ion-img class="img1" src="/assets/nothing_pic.jpg" ></ion-img>
      <ion-card-content>
        <h3 class="WineName">
          First Attempt of Nothing
        </h3>
        <p class="content">
          First time making a cocktail myself! 
        </p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small class="LikeButton">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>0 Likes</div>
          </button>
        </ion-col>
      </ion-row>
     </ion-card>
</ion-content>
