.proilfe_pic ion-img{
  min-height: 8vh;
  max-height: 10vh;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.profile_name {
	font-size: 20pt;
	color: DarkBlue;
}

.profile_num {
	font-size: 10pt;
	color: DarkGrey;
}

.button_words {
	font-size: 12pt;
	color: DarkGrey;
}

.icon {
	font-size: 50px;
}

.buttons {
	width: 80px;
	height: 80px;
}