<ion-header>
	<ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item class="profile_info">
		<ion-avatar>
		<ion-img class="profile-pic" src="/assets/profile/user1.jpg"></ion-img>
		</ion-avatar>
		<h2 class="profile_name"> USER1 </h2>
		<h4 class="profile_num"> 8 Posts <br> 5 purchases</h4>
		<!--<h4 class="profile_num"> 5 purchases</h4> !-->
	</ion-item>

<ion-grid>
	<ion-row align-items-center>
	 		<ion-col col-6> 
			<ion-button class="buttons" icon-only end fill="clear" href="/about"> <ion-icon class="icon" name="contact"></ion-icon> </ion-button>
			</ion-col>
			<ion-col col-6>
			<ion-button class="buttons" icon-only end fill="clear" href="/about"> <ion-icon class="icon" name="cube"></ion-icon></ion-button>
			</ion-col>
	</ion-row>
	<ion-row align-items-center>
			<ion-col col-6>
			<ion-button class="buttons" icon-only end fill="clear" href="/about"> <ion-icon class="icon" name="timer"></ion-icon> </ion-button>
			</ion-col>
			<ion-col col-6>
			<ion-button class="buttons" icon-only end fill="clear" href="/post-management"> <ion-icon class="icon" name="list-box"></ion-icon> </ion-button>
			</ion-col>
	</ion-row>
	<ion-row align-items-center>
			<ion-col col-6>
			<ion-button class="buttons" icon-only end fill="clear" href="/about"> <ion-icon class="icon" name="cart"></ion-icon> </ion-button>
			</ion-col>
			<ion-col col-6>
			<ion-button class="buttons" icon-only end fill="clear" href="../about"> <ion-icon class="icon" name="information-circle"></ion-icon> </ion-button>
			</ion-col>
	</ion-row>
</ion-grid>
</ion-content>

